body {
  background: #f9f9f9;
}

.App {
  max-width: 720px;
  margin: 1em auto;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
}

.Accordion {
  position: relative;
  cursor: pointer;
  padding: 1em;
  background: linear-gradient(to right, #ebe9d0 0%, #c7c7a5 100%);
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.Accordion:after {
  content: "";
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  border: solid transparent;
  height: 0;
  width: 0;
  -moz-transform: scale(1.001);
}

.Accordion.arrow-down {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Accordion.arrow-up:after {
  border-bottom-color: #549419;
  border-width: 0 4px 6px 4px;
}

.Accordion.arrow-down:after {
  border-top-color: #549419;
  border-width: 6px 4px 0 4px;
}

.Content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
}

.thumbnail {
  flex: 30%;
}

.description {
  flex: 70%;
  margin-bottom: 1em;
}

.nav {
  border-top: 1px solid #eee;
  padding-top: 1em;
  display: flex;
  width: 100%;
}

.prev {
  width: 50%;
}

.next {
  width: 50%;
  text-align: right;
}

.prev a, .next a {
  display: block;
  color: #549419;
}

.prev a:before, .next a:after {
  display: inline-block;
  vertical-align: middle;
  content: "";
  border: solid transparent;
  height: 0;
  width: 0;
  -moz-transform: scale(1.001);
}

.prev a:before {
  border-right-color: #549419;
  border-width: 10px 15px 10px 0px;
  margin-right: 1em;
}

.next a:after {
  border-left-color: #549419;
  border-width: 10px 0 10px 15px;
  margin-left: 1em;
}